@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
/* font-family: 'Montserrat', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
/* font-family: 'Mooli', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/* font-family: 'Oswald', sans-serif; */  

* {
    margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
}

/* @keyframes rotacion {
    0% {
        transform: rotate(0deg);
        animation-timing-function: ease-in; 
    }
    50% {
        transform: rotate(360deg);
        animation-timing-function: ease-out;
    }
    100% {
        transform: rotate(360deg);
        animation-timing-function: ease-out; 
    }
}
@keyframes desvanecimiento {
    0% {opacity: 1;}
    50% {opacity: 1;}
    100% {opacity: 0; display: none;}
} */

header {
    display: flex;
    background-image: url('../img/saten.jpg');
    /* Opcionalmente, puedes ajustar la posición y el tamaño de la imagen de fondo */
    background-position: center;
    background-size: cover; /* Escala la imagen para cubrir toda la cabecera */
    height: 50vh;
    width: 100%; /* Ancho de la pantalla */
    margin-bottom: 10px;
    flex-direction: column;
    justify-content: space-around;

}

/* Estilos para el texto "ERZEBET" */
header .nombre {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    align-self: flex-end;
    font-size: 5.5vw;
    margin-right: 10%;
    margin-top: 30px;
}


/* Estilos para la barra de navegación */
header nav {
    font-family: 'Oswald', sans-serif;
    margin-left: 30px;
    align-self: flex-start; /* Alineamos la barra de navegación al final del contenedor */
}

/* Estilos para los enlaces de navegación */
header nav a {
    font-size: 1.5em;
    margin-right: 20px; /* Separación entre los enlaces */
    text-decoration: none; /* Quita el subrayado de los enlaces */
    color: white; /* Color del texto de los enlaces */
}

.container_nosotros {
    margin: 5%;
}
.container_nosotros h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    margin: 10px 0px 10px 0px;
}

.container_nosotros p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
